.Title {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 200px !important;
  font-weight: normal;
  color: #FFFFFF;
}

footer .row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.whiteText
{
	color: white;
}
.img-responsive {
    margin: 0 auto;
}
